@charset "UTF-8";

/*
Memo color:



1.0 RESET
2.0 Commun
3.0 Header
4.0 Section
5.0 Article
6.0 Aside
7.0 Media
8.0 Form
x.0 Responsive Web Design
*/

/***** 1.0 RESET
http://meyerweb.com/eric/tools/css/reset/ v1.0 | 20080212
*****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;
padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:
transparent;}
body{line-height:1.5;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* remember to define focus styles! */
:focus{outline:0;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del,s{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}


/***** 2.0 Commun *****/
body {
	width: 800px;
	font-family: Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	text-align: center
}

p {
	padding: 0 0 10px;
	text-align: left;
}

pre {
	text-align: left;
}



/***** 3.0 Header *****/
header {}



/***** 4.0 Section *****/
section {}



/***** 5.0 Article *****/
article {}



/***** 6.0 Aside *****/
aside {}



/***** 7.0 Footer *****/

footer {}

footer p {
	margin: 0 auto;
	text-align: center;
}



/***** 8.0 Media *****/

img {
	max-width: 100%;
	height: auto;
}



/***** 9.0 Form *****/




/***** X.0 Responsive Web Design *****/
